{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "settings/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("settings.manage_personal_tokens"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "settings/snippets/menu.html" %}

    <div class="card-body">
      <div class="card bg-light">
        <div class="card-body">
          {% if token %}
            <p>
              <i class="fa-solid fa-circle-info"></i>
              {% trans %}
                A new personal access token has been created. Please keep it somewhere safe as you will not be able to
                access it again.
              {% endtrans %}
            </p>
            <strong>{% trans %}Your personal access token{% endtrans %}</strong>
            <div class="input-group input-group-sm">
              <input class="form-control" readonly="true" value="{{ token }}">
              <div class="input-group-append">
                <clipboard-button content="{{ token }}" class="input-group-text"></clipboard-button>
              </div>
            </div>
          {% else %}
            {% set help_url = '<a class="text-primary" target="_blank" rel="noopener noreferrer" href="{}">'
                              '<strong>{}</strong>'
                              '</a>'
                              .format(url_for("main.help", _anchor="settings"), _("Help")) %}

            <i class="fa-solid fa-circle-info"></i>
            {% trans help=help_url | safe %}
              Access tokens can be used to directly interact with the HTTP API that Kadi4Mat provides. Please see the {{
              help }} page for more information.
            {% endtrans %}
          {% endif %}
        </div>
      </div>
      <hr>
      <submission-form>
        {{ render_csrf() }}

        <div class="row">
          <text-field class="col-lg-8" :field="{{ form.name }}"></text-field>
          <date-time-field class="col-lg-4" :field="{{ form.expires_at }}"></date-time-field>
        </div>
        <scopes-field :field="{{ form.scope }}" :scopes="kadi.context.scopes"></scopes-field>
        <submit-field :field="{{ form.submit }}"></submit-field>
      </submission-form>
      <hr>
      <dynamic-pagination endpoint="{{ url_for('api.get_personal_tokens') }}"
                          placeholder="{% trans %}No personal access tokens.{% endtrans %}"
                          :per-page="5"
                          ref="pagination">
        <template #default="props">
          <p>
            <strong>{% trans %}Personal access tokens{% endtrans %}</strong>
            <span class="badge badge-pill badge-light text-muted border border-muted">{$ props.total $}</span>
          </p>
          <ul class="list-group" v-if="props.total > 0">
            <li class="list-group-item py-2 bg-light">
              <div class="row">
                <div class="col-md-2">{% trans %}Name{% endtrans %}</div>
                <div class="col-md-3">{% trans %}Created at{% endtrans %}</div>
                <div class="col-md-3">{% trans %}Expires at{% endtrans %}</div>
                <div class="col-md-3">{% trans %}Scopes{% endtrans %}</div>
              </div>
            </li>
            <li class="list-group-item" v-for="token in props.items" :key="token.id">
              <div class="row align-items-center mb-2">
                <div class="col-md-2 mb-2 mb-md-0">
                  <strong :class="{'crossed': token.is_expired}">{$ token.name $}</strong>
                  <br>
                  <span class="text-danger" v-if="token.is_expired">{% trans %}Expired{% endtrans %}</span>
                </div>
                <div class="col-md-3 mb-2 mb-md-0">
                  <local-timestamp :timestamp="token.created_at"></local-timestamp>
                  <br>
                  <small class="text-muted">
                    (<from-now :timestamp="token.created_at"></from-now>)
                  </small>
                </div>
                <div class="col-md-3 mb-2 mb-md-0">
                  <div v-if="token.expires_at">
                    <local-timestamp :timestamp="token.expires_at"></local-timestamp>
                    <br>
                    <small class="text-muted">
                      (<from-now :timestamp="token.expires_at"></from-now>)
                    </small>
                  </div>
                  <span v-if="!token.expires_at">
                    <em>{% trans %}Never{% endtrans %}</em>
                  </span>
                </div>
                <div class="col-md-3 mb-2 mb-md-0">
                  <scopes-viewer :scope="token.scope"></scopes-viewer>
                </div>
                <div class="col-md-1 d-md-flex justify-content-end">
                  <button type="button"
                          class="btn btn-sm btn-danger"
                          title="{% trans %}Remove token{% endtrans %}"
                          :disabled="token.disabled"
                          @click="removeToken(token)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
              <small class="text-muted">
                <i class="fa-solid fa-circle-info"></i> {% trans %}Last used:{% endtrans %}
                <span v-if="token.last_used === null">
                  <em>{% trans %}Never{% endtrans %}</em>
                </span>
                <span v-else>
                  <local-timestamp :timestamp="token.last_used"></local-timestamp>
                  (<from-now :timestamp="token.last_used"></from-now>)
                </span>
              </small>
            </li>
          </ul>
        </template>
      </dynamic-pagination>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      methods: {
        removeToken(token) {
          if (!window.confirm('{{ _("Are you sure you want to remove this token?") }}')) {
            return;
          }

          this.$set(token, 'disabled', true);

          axios.delete(token._actions.remove)
            .then(() => {
              this.$refs.pagination.update();
              kadi.base.flashSuccess('{{ _("Token removed successfully.") }}', {scrollTo: false});
            })
            .catch((error) => {
              kadi.base.flashDanger('{{ _("Error removing token.") }}', {request: error.request});
              token.disabled = false;
            });
        },
      },
    });
  </script>
{% endblock %}
